<div class="container worker">
    <div class="header">
        <%= button_to "Regresar", workers_path, method: :get ,class: "btn btn-success"%>
    </div>
    <h2><%= @worker.nombre_completo %></h2>
</div>
