// Place all the styles related to the Workers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.workers, .worker {
    margin-top: 30px;
    .embed-responsive .card-img-top {
        object-fit: cover;
    }
}

.worker-form {
    margin-top: 30px;
    margin-bottom: 30px;

    h2 {
        font-weight: 900;;
    }
}